{% extends 'layouts/layout_mini.html' %}

{% block title %} Tables {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

<style>
.btn{
    border-radius: 30px;
    padding: 9px 15px;
    font-size: 15px;
    background-color: #169631;
    border: none;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
   
}
.form {
    position: relative;
    width:500px
}

.form span {
    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db
}

.left-pan {
    padding-left: 7px
}

.left-pan i {
    padding-left: 10px
}

.form-input {
    height: 44px;
    text-indent: 33px;
    border-radius: 30px
}

</style>
{% endblock stylesheets %}

{% block content %}

{% include "includes/navbar.html" %}

<main>
  <div class="main-section mt-1">
  <div class="container">
  <div class="main-section-data">
  <div class="row">

  <div class="col-lg-8 col-md-8 no-pd">
  <div class="main-ws-sec" id="annonce">
  <div class="post-topbar">
  <div class="user-picy">
    <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="form">  <input type="text" class="form-control form-input" placeholder="chercher question..."> <span class="left-pan"><i class="fa fa-search"></i></span> </div>
        </div>
        
    </div>
  </div>
  </div>
  <div class="posts-section">
{% include './list_blog.html' %}
  </div>
  </div>
  </div>
  <div class="col-lg-4 pd-right-none no-pd ">
    <div class="widget widget-about bg-light">
    <div class="sd-title ">
      <h3>Creer blog</h3>
     </div>
  
  <a href="{% url 'add_blog' %}" type="button" class="btn bg-success text-white m-4" >Publier votre blog</a>
  
  </div>
  <div class="widget widget-jobs">
  <div class="sd-title mx-4">
   <h3>Les Blog </h3>
  </div>
  <div class="jobs-list">
    {% for cour in bestcours %}
  <div class="job-info">
  <div class="job-details">
  <h3></h3>
  <p>L.</p>
  </div>
  <div class="hr-rate">
  <span>$25/hr</span>
  </div>
  </div>
{% endfor %}
  
  </div>
  </div>

  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  
  </main>
  
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script>
    $(".left-pan").bind('click', function(event) {
   $("#comment_sub").submit();
});
</script>
{% endblock javascripts %}