{% extends "layouts/layout_lte.html" %}

{% block title %} welcome to edtech {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}


{% endblock stylesheets %}

{% block content %}
{% include "includes/navbar_teacher.html" %}

<form class="jotform-form" action="https://submit.jotform.com/submit/221055561436552/" method="post" name="form_221055561436552" id="221055561436552" accept-charset="utf-8" autocomplete="on">
  <input type="hidden" name="formID" value="221055561436552" />
  <input type="hidden" id="JWTContainer" value="" />
  <input type="hidden" id="cardinalOrderNumber" value="" />
  <div role="main" class="form-all">
    <style>
      .form-all:before { background: none;}
    </style>
    <ul class="form-section page-section">
      <li id="cid_1" class="form-input-wide" data-type="control_head">
        <div class="form-header-group  header-large">
          <div class="header-text httal htvam">
            <h1 id="header_1" class="form-header" data-component="header">
              Transaction
            </h1>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_payment" id="id_5" data-payment="true">
        <label class="form-label form-label-top" id="label_5" for="input_5"> Nouveautés </label>
        <div id="cid_5" class="form-input-wide" data-layout="full">
          <div data-wrapper-react="true">
            <div data-wrapper-react="true" class="product-container-wrapper">
              <div class="filter-container">
              </div>
              <input type="hidden" name="simple_fpc" data-payment_type="payment" data-component="payment1" value="5" />
              <input type="hidden" name="payment_total_checksum" id="payment_total_checksum" data-component="payment2" />
              
              <div data-wrapper-react="true">
   
                <div class="p_item_separator ">
                </div>
                <span class="form-product-item hover-product-item  new_ui" categories="non-categorized" pid="1007" aria-labelledby="label_5">
                  
                    <div class="p_image">
                      <div role="img" aria-label="Mug JotForm " class="image_area null" style="background-image:url(&quot;null&quot;)">
                      </div>
                    </div>
                     <div class="focus_action_button_container">
                      <a class="btn-inline-product-delete"> </a>
                      <a class="btn-inline-product-settings"> </a>
                    </div>
                  </div>
                </span>
                <div class="p_item_separator ">
                </div>
                <span class="form-product-item hover-product-item  new_ui" categories="non-categorized" pid="1009" aria-labelledby="label_5">
                  <div data-wrapper-react="true" class="form-product-item-detail new_ui">
                 
                    <div for="input_5_1009" class="form-product-container">
                      <span data-wrapper-react="true">
                        <div class="title_description">
                          <span class="form-product-name" id="product-name-input_5_1009">
                            nom1
                          </span>
                          <span class="form-product-description" id="product-name-description-input_5_1009">
                          </span>
                        </div>
                        <span class="form-product-details">
                          <b>
                            <span data-wrapper-react="true">
                              €
                              <span id="input_5_1009_price">
                                2.99
                              </span>
                            </span>
                          </b>
                        </span>
                      </span>
                    </div>
                    <div class="focus_action_button_container">
                      <a class="btn-inline-product-delete"> </a>
                      <a class="btn-inline-product-settings"> </a>
                    </div>
                  </div>
                </span>
                <div class="p_item_separator ">
                </div>
                <span class="form-product-item hover-product-item  new_ui" categories="non-categorized" pid="1008" aria-labelledby="label_5">
                  <div data-wrapper-react="true" class="form-product-item-detail new_ui">
                    <div class="p_col">
                      
                    </div>
                    <div class="p_image">
                      <div role="img" aria-label="Sticker JotForm " class="image_area null" style="background-image:url(&quot;null&quot;)">
                      </div>
                    </div>
                    <div for="input_5_1008" class="form-product-container">
                      <span data-wrapper-react="true">
                        <div class="title_description">
                          <span class="form-product-name" id="product-name-input_5_1008">
                            nom2
                          </span>
                          <span class="form-product-description" id="product-name-description-input_5_1008">
                          </span>
                        </div>
                        <span class="form-product-details">
                          <b>
                            <span data-wrapper-react="true">
                              €
                              <span id="input_5_1008_price">
                                1.99
                              </span>
                            </span>
                          </b>
                        </span>
                      </span>
                    </div>

                    
                    <div class="focus_action_button_container">
                      <a class="btn-inline-product-delete"> </a>
                      <a class="btn-inline-product-settings"> </a>
                    </div>
                  </div>
                </span>
                <div class="payment_footer new_ui ">
                  <div class="total_area">
                    <div class="form-payment-total">
                      <div id="total-text">
                        Total
                      </div>
                      <div class="form-payment-price">
                        <span data-wrapper-react="true">
                          €
                          <span id="payment_total">
                            0.00
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <li class="form-line" data-type="control_button" id="id_7">
            <div id="cid_7" class="form-input-wide" data-layout="full">
              <div data-align="auto" class="form-buttons-wrapper form-buttons-auto   jsTest-button-wrapperField">
                <button id="input_7" type="submit" class="form-submit-button submit-button jf-form-buttons jsTest-submitField" data-component="button" data-content="">
                  Telecharger
                </button>
              </div>
            </div>
          </li>
        </div>
      </li>
     
      <li style="display:none">
        Should be Empty:
        <input type="text" name="website" value="" />
      </li>
    </ul>
  </div>
  


{% endblock content %}

{% block javascripts %}
<script>
</script>
{% endblock javascripts %}