{% extends 'layouts/layout_lte.html' %}

{% block title %} Sign IN {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% include "includes/navbar.html" %}
<div class="container-fluid" style="margin-top:30px">
  
  <div class="" style="margin-top:30px">
      <div class="rounded d-flex justify-content-center">
          <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
              <div class="text-center">
                  <h3 class="text-success">Sign In</h3>
              </div>
              <form action="" method="post">
                {% csrf_token %}
                  <div class="p-4">
                      <div class="input-group mb-3">
                          
                          {{form.email}}
                      </div>
                      <div class="input-group mb-3">
                          
                        
                         {{form.password}}
                      </div>
                      
                     
		            	<button type="submit" class="input-group btn btn-success rounded mx-auto ">Sign In</button>
		         
                      <p class="text-center mt-5">Don't have an account?
                          <a class="text-decoration-none" href="{% url 'signup' %}"><span class="text-success">Sign Up</span></a>
                      </p>
                      <p class="text-center mt-5">Forgot Password?
                        <a class="text-decoration-none" href="{% url 'reset_password' %}"><span class="text-success">reset password</span></a>
                    </p>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script>
    
  </script>

{% endblock javascripts %}
