{% extends 'layouts/layout_lte.html' %}

{% block title %} Sign IN {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% include "includes/navbar.html" %}
<div class="container-fluid" style="margin-top:30px">
  
  <div class="" style="margin-top:30px">
      <div class="rounded d-flex justify-content-center">
          <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
              <div class="text-center">
                  <h3 class="text-success">Reset Password</h3>
              </div>
              <form action="" method="post">
                {% csrf_token %}
                  <div class="p-4">
                      <div class="input-group mb-3">
                          {{form}}
                      </div>
                     
                      
                      <button class="btn btn-success text-center mt-2" type="submit">reset </button>
                    
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script>
    
  </script>

{% endblock javascripts %}
