{% extends 'layouts/layout_lte.html' %}

{% block title %} Sign IN {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
  
  #msform {
    text-align: center;
    position: relative;
    margin-top: 10px;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
#msform input, #msform textarea {
    padding: 11px;
 
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 6px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #0e0e0e;
    font-size: 14px;
}

#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #069435;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
    width: 100px;
    background: #09ac11;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #09ee7f;
}

#msform .action-button-previous {
    width: 100px;
    background: #C5C5F1;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #0d1014;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: rgb(27, 26, 26);
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: rgb(95, 95, 95);
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    color: #333;
    background: white;
    border-radius: 25px;
    margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #067515;
    color: white;
}


/* Not relevant to this form */
.dme_link {
    margin-top: 30px;
    text-align: center;
}
.dme_link a {
    background: #FFF;
    font-weight: bold;
    color: #139925;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 5px 25px;
    font-size: 12px;
}

.dme_link a:hover, .dme_link a:focus {
    background: #bfbfc5;
    text-decoration: none;
}
label{
  float: left;
}
</style>

{% endblock stylesheets %}

{% block content %}
{% include "includes/navbar.html" %}
<div class="row justify-content-center">
  <div class="col-md-6 col-md-offset-3">
      <h4>SIGN-UP ENSEIGNANT</h4>
      <form method="post" id="msform">
          <!-- progressbar -->
          <ul id="progressbar">
              <li class="active">Personal Details</li>
              <li>Social Profiles</li>
              <li>Account Setup</li>
          </ul>
          <!-- fieldsets -->
          
            {% csrf_token %}
          <fieldset>
              <h2 class="fs-title">Personal Details</h2>
              <h3 class="fs-subtitle">Tell us something more about you</h3>
              {{form}}
              
              <input type="button" name="next" class="next action-button" value="Next"/>
          </fieldset>
          <fieldset>
              <h2 class="fs-title">Social Profiles</h2>
              <h3 class="fs-subtitle">Your presence on the social network</h3>
              <label for="address">address:</label>
                  {{resumeForm.address}}
                  <label for="mobile">mobile:</label>
                  {{resumeForm.mobile}}
                  <label for="city">city:</label>
                  {{resumeForm.City}}
                  <label for="biographie">a propos de vous:</label>
                  {{resumeForm.biographie}}
              <input type="button" name="next" class="next action-button" value="Next"/>
          </fieldset>
          <fieldset>
              <h2 class="fs-title">Create your account</h2>
              <h3 class="fs-subtitle">Fill in your credentials</h3>
              <label for="exprience">experience:</label>
              {{resumeForm.experience}}
              <label for="specialite">specialité:</label>
              {{resumeForm.specialite}}
              <label for="Pacour">pacour:</label>
              {{resumeForm.Parcour}}
              <label for="linkedin">votre profil linkedin:</label>
              {{resumeForm.linkedin}}
              <label for="skills">skills:</label>
              {{resumeForm.skills}}
              <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
              <input type="submit" name="submit" class="submit action-button" value="Submit"/>
          </fieldset>
      </form>
   
  </div>
</div>
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script>
       $(document).ready(function(){

var current_fs, next_fs, previous_fs; //fieldsets
var opacity;

$(".next").click(function(){

current_fs = $(this).parent();
next_fs = $(this).parent().next();

//Add Class Active
$("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

//show the next fieldset
next_fs.show();
//hide the current fieldset with style
current_fs.animate({opacity: 0}, {
step: function(now) {
// for making fielset appear animation
opacity = 1 - now;

current_fs.css({
'display': 'none',
'position': 'relative'
});
next_fs.css({'opacity': opacity});
},
duration: 600
});
});

$(".previous").click(function(){

current_fs = $(this).parent();
previous_fs = $(this).parent().prev();

//Remove class active
$("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

//show the previous fieldset
previous_fs.show();

//hide the current fieldset with style
current_fs.animate({opacity: 0}, {
step: function(now) {
// for making fielset appear animation
opacity = 1 - now;

current_fs.css({
'display': 'none',
'position': 'relative'
});
previous_fs.css({'opacity': opacity});
},
duration: 600
});
});

$('.radio-group .radio').click(function(){
$(this).parent().find('.radio').removeClass('selected');
$(this).addClass('selected');
});

$(".submit").click(function(){
return true;
})

});
  </script>

{% endblock javascripts %}
