<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %} 
        
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>minimalist_ed_tech</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'assets/img/logos/minimalist_ed_tech.png' %}"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <link href="{% static 'assets/css/css_landing/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/css/css_landing/button.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/css/css_landing/footer.css' %}" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
     
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
               
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Fomations</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!" style="color: black;">Université</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!" style="color: black;">Business</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!" style="color: black;">Blog</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!" style="color: black;">A propos nous</a></li>
                    </ul>

                
                    <a href="#"><i class='fas fa-user-alt' style='font-size:24px;color: black;'></i></a>
                    &nbsp
                    &nbsp
                    <div class="icon-bar"></div>
                    <a href="#"><i class="fa fa-globe" style="font-size:24px; color: black;"></i></a>
                    </div>
                    &nbsp
                    &nbsp
                    <a href="#"><i class='fas fa-shopping-cart' style="font-size:24px;color: black;"></i></a>
                 
                

              </div>
        </div>
    </nav> 
    <br>
    <br>
    <br>   
    <div>
        <img src="{% static 'assets/img/logos/minimalist_ed_tech.png' %}" style="width:20%; display: block; margin-left: auto;margin-right: auto;">
        
    </div>
   <div class="center">
     <div class="container">
        <div class="search_wrap search_wrap_3">
			<div class="search_box">
				<input type="text" class="input" placeholder="search...">
				<div class="btn btn_common">
					<i class='fas fa-microphone'></i>   
				</div>
			</div>
		</div>
    </div>
    </div>
    
    <div class="center">
        <a class="btn" href="{% url 'login' %}" style="background-color:#0f6148 ; color:#eeeeee; border-radius: 15px;margin: 5px;"><b>Apprendre</b></a>
        <a class="btn" href="{% url 'teacher_login' %}" style="background-color:#0f6148 ; color: #eeeeee;border-radius: 15px;margin: 5px;"><b>Enseigner</b></a>
        <a class="btn" href="{% url 'blog' %}" style="background-color:#0f6148 ;color: #eeeeee; border-radius: 15px;margin: 5px;"><b>Communité minimaliste</b></a>
       
    </div>
    <br><br>
    <section class="footer-distributed">

<footer class="footer-distributed">

			<div class="footer-left">

				<h3>Minimalist<span>EdTech</span></h3>

				<p class="footer-links" style="color: black;">
					<a href="#" class="link-1">Home</a>
					
					<a href="#">Blog</a>
				
					<a href="#">Pricing</a>
				
					<a href="#">About</a>
					
					<a href="#">Faq</a>
					
					<a href="#">Contact</a>
				</p>
                
				<p class="footer-company-name">Edtech © 2022</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p style="color: black;"><span ></span>.....</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p style="color: black;"><a href="tel:+33768656157">+33768656157</a></p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p style="color: black;"><a href="mailto:edtechminimaliste@gmail.com">edtechminimaliste@gmail.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span style="color: black;">A propos nous </span>
					Apprenez à apprendre.
             <h5 style="text-align: center;">Découvrez les compétences de demain.
           Et prenez votre carrière en main.</h5>
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>
    </section>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
       
    </body>

</html>
