{% extends "layouts/layout_lte.html" %}

{% block title %} welcome to edtech {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}


{% endblock stylesheets %}

{% block content %}
{% include "includes/navbar_teacher.html" %}
<div class="container-fluid px-2">
  <div class="row mx-1 mt-3 pt-2">
    <div class="col-xl-6 col-sm-3 col-4"> 
      <div class="card shadow-sm">
        <div class="card-header">
            Vente
          </div>
          <div class="card-body">
              <div class="media-body text-left " style="height: 280px;">
                <h3></h3>
              
              </div>
          </div>
        </div>
     
    </div>
    <div class="col-xl-6 col-sm-3 col-4 "> 
        <div class="card shadow-sm">
            <div class="card-header">
                Cours Table
              </div>
            <div class="card-body">
                <div class="media-body text-left " style="height: 280px;">
                  <h3></h3>
                
                </div>
            </div>
          </div>
      </div>
      
    </div>
    <div class="row mx-1">
      <div class="col-xl-4 col-sm-3 col-4 "> 
          <div class="card shadow-sm mt-3">
              <div class="card-header">
                  Cours Progression
                </div>
              <div class="card-body ">
                  <div class="media-body text-left " style="height: 200px;">
                    <h3></h3>
                  
                  </div>
              </div>
            </div>
           </div>
              <div class="col-xl-4 col-sm-3 col-4 "> 
                  <div class="card shadow-sm mt-3">
                      <div class="card-header">
                         Cours Publie
                        </div>
                      <div class="card-body ">
                          <div class="media-body text-left " style="height: 200px;">
                            <h3></h3>
                          
                          </div>
                      </div>
                    </div>
                    </div>
           
     
        <div class="col-xl-4 col-sm-3 col-4 mx-0"> 
          <div class="card shadow-sm mt-3">
              <div class="card-header">
                 chat
                </div>
              <div class="card-body ">
                  <div class="media-body text-left " style="height: 200px;">
                    <h3></h3>
                  </div>
              </div>
            </div>
        </div>
  </div>
</div>
{% endblock content %}

{% block javascripts %}
<script>
</script>
{% endblock javascripts %}

