{% load static %}
<nav class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar" style="background-color: #198754;">
  <div class="container-fluid ">
    <a class="navbar-brand px-4 text-white font-weight-light" href="#">
      Communité Minimalist
    </a>
    {% if user.is_authenticated %}
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active px-4" href="{% url 'blog' %}"> Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'annonce' %}"> Annonce </span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'question' %}"> Question </span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'subject' %}"> Subject </span></a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link px-4" href="#"> <i class="fa-solid fa-user"></i> user</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa-solid fa-right-from-bracket"></i> log out</span></a>
        </li>
      </ul>
    </div>
    {% endif %}
  </div>
</nav>