{% for ann in list_ann %}
  <div class="post-bar">
  <div class="post_topbar">
  <div class="usy-dt">
  <div class="usy-name">
  <h3>{{ann.author}}</h3>
  <span>{{ann.created_at}}</span>
  </div>
  </div>
  </div>
  <div class="epi-sec">
  <ul class="descp">
  </ul>
  </div>
  <div class="job_descp">
  <h3>je cherche:{{ann.title}}</h3>
  <h3>je propose</h3>
  <p>{{ann.disc}}<a href="#" title="">view more</a></p>
  <ul class="skill-tags">
  <li><a href="#" title="">HTML</a></li>
 
  <li><a href="#" title="">{{ann.categorie}}</a></li>
  
  </ul>
  </div>
  <div class="job-status-bar">
  <ul class="like-com">

  <li><a href="#" class="com"><i class="fas fa-comment-alt"></i> Comment 15</a></li>
  </ul>
  </div>
  </div>
{% endfor %}